/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900");

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
//@import "~@angular/material/prebuilt-themes/purple-green.css";

.header {
    height: 5%;
    background-color: black;
    margin-bottom: 5%;
}

.flex {
    -webkit-box-flex: 0 0 40px;
    -moz-box-flex: 0 0 40px;
    -ms-box-flex: 0 0 40px;
    -o-box-flex: 0 0 40px;
    flex: 0 0 40px;
}

:host ::ng-deep .datatable-header {
    height: unset !important;
 }

 :host ::ng-deep  .ngx-datatable.bootstrap {
   font-family: 'Open Sans',  sans-serif !important;
   font-size: 12px;
   padding: 2px;
 }
 
 :host ::ng-deep  .ngx-datatable.bootstrap .datatable-header .datatable-header-cell {
    vertical-align: bottom;
    padding: 2px !important;
    background-color: #545454;
    color: #fff;
    -webkit-box-flex: 0 0 40px;
    -moz-box-flex: 0 0 40px;
    -ms-box-flex: 0 0 40px;
    -o-box-flex: 0 0 40px;
    flex: 0 0 40px;
 }
 
 :host ::ng-deep  .ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell {
   text-align: left;
   line-height: 2.6em;
   border-bottom: 1px solid #545454;
   height: unset !important;
   -webkit-box-flex: 0 0 40px;
   -moz-box-flex: 0 0 40px;
   -ms-box-flex: 0 0 40px;
   -o-box-flex: 0 0 40px;
   flex: 0 0 40px;
 }

 :host ::ng-deep .datatable-row-even {
  background-color: #ededed;
  color: #1f2120
}