/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900");

.header {
  height: 9%;
  background-color: #1d2025;
  // margin-bottom: 5%;
}

ion-col {
  padding: 4px !important;
}

.flex {
    -webkit-box-flex: 0 0 40px;
    -moz-box-flex: 0 0 40px;
    -ms-box-flex: 0 0 40px;
    -o-box-flex: 0 0 40px;
    flex: 0 0 40px;
}

:host ::ng-deep .datatable-header {
    height: unset !important;
 }

 :host ::ng-deep  .ngx-datatable.bootstrap {
   font-family: 'Open Sans',  sans-serif !important;
   font-size: 12px;
   padding: 2px;
 }
 
 :host ::ng-deep  .ngx-datatable.bootstrap .datatable-header .datatable-header-cell {
    vertical-align: bottom;
    padding: 2px !important;
    background-color: #545454;
    color: #fff;
    -webkit-box-flex: 0 0 40px;
    -moz-box-flex: 0 0 40px;
    -ms-box-flex: 0 0 40px;
    -o-box-flex: 0 0 40px;
    flex: 0 0 40px;
 }
 
 :host ::ng-deep  .ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell {
   text-align: left;
   line-height: 2.6em;
   border-bottom: 1px solid #545454;
   height: unset !important;
   -webkit-box-flex: 0 0 40px;
   -moz-box-flex: 0 0 40px;
   -ms-box-flex: 0 0 40px;
   -o-box-flex: 0 0 40px;
   flex: 0 0 40px;
 }

 :host ::ng-deep .datatable-row-even {
  background-color: #ededed;
  color: #1f2120
}

.my-custom-modal-css .modal-wrapper {
  height: 70%;
  top: 10%;
  position: absolute; 
  width:80%;
  padding: 10px;
  background: white;
}

.address-modal-css .modal-wrapper {
  height: 23%;
  top: 30%;
  position: absolute; 
  width:80%;
  padding: 5px;
  background: white;
}


ion-card {
  overflow: hidden;
  margin-top: 1px !important;
  margin-bottom: 1px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  border-radius: 2px !important;
  background-color: #2e445b !important;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) !important; 
}

ion-grid {
  padding: 0px !important;
}

.card-title-primary {
  background-color: #2e445b !important;
  color: #fff; 
  opacity: 0.8 !important;
  font-size: 12px;
  height:100%;
  margin-left: 2px !important;
//  padding: 5px !important;
}

.card-title-inverted {
  background-color: #1d2025 !important;
  color: #fff;
  font-size: 12px;
  height: 100%;
//  padding: 5px !important;
}

.card-content {
  background-color: #2e445b !important;
  color: #fff;
  font-size: 16px;
}

.card-content-inverted {
  background-color: #1d2025 !important;
  color: #fff;
  font-size: 16px;
  padding: 10px !important;
  padding-left: 0px !important;
}

.amount-value {
  background-color: #2e445b !important;
  --color: #fff;
  font-size: 16px;
}

.amount-value-inverted {
  background-color: #1d2025 !important;
  --color: #fff;
  font-size: 16px;
}


.bg-class {
  --background: #1d2025 !important; 
}

.card-footer {
  background-color: #2e445b !important;
  font-size: 12px;
}

ion-item {
  --ion-background-color:#2e445b;
  color: #fff;
  width: 100%;
  padding:0px !important;
}

ion-list, ion-item-divider {
  --ion-background-color:#1d2025;
}

 ion-icon {
  color: #1d2025 !important;
}

ion-toast.error-message {
  color: #cf6679; 
}
