<div class="header"></div>

  <ion-content class="bg-class">
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMax="50">
          <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
          </ion-refresher-content>
       </ion-refresher>


    <ion-grid>
      <ion-row class="ion-justify-content-start">
        <ion-col size="6">
            <ion-card>
                <ion-card-title class="card-title-primary">
                        Available
                        <span class="tooltip" tooltip="The total amount of liquid ICX held in your wallet at that moment. 
                                                       This figure does not include currently-staked ICX, as it is not liquid." 
                                                    placement="bottom" hide-delay="500" hide-delay-mobile="500"> 
                                   <ion-icon name="information-circle-outline"></ion-icon> 
                        </span>
                </ion-card-title>
                  <ion-card-content class="card-content">
                      <ion-row>
                          <ion-col size="3" text-left>
                            <ion-icon name="wallet" class="iconSize"></ion-icon>     
                          </ion-col>
                          <ion-col text-right>
                              {{balance.toFixed(2)}} <small>ICX</small>
                          </ion-col>
                      </ion-row>
                  </ion-card-content>
                </ion-card>
        </ion-col>
          <ion-col size="6">
              <ion-card>
                  <ion-card-title  class="card-title-primary">
                          Unstake Timer
                          <span class="tooltip" tooltip="If you have unstaked, this box will provide a timer for when your ICX will be available" placement="bottom" hide-delay="500" hide-delay-mobile="500"> 
                              <ion-icon name="information-circle-outline"></ion-icon> 
                          </span>
                  </ion-card-title >
                    <ion-card-content class="card-content">
                        <ion-row>
                            <ion-col size="3" text-left>
                              <ion-icon name="calendar" class="iconSize"></ion-icon>
                            </ion-col>
                            <ion-col text-right>
                                {{unstakePeriod}}
                            </ion-col>
                          </ion-row>       
                    </ion-card-content>
                  </ion-card>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-start">
            <ion-col>
                <ion-card>
                    <ion-card-title  class="card-title-primary">
                            Staked
                            <span class="tooltip" tooltip="The total amount of ICX you've staked with this address" 
                                placement="bottom" hide-delay="500" hide-delay-mobile="500"> 
                                <ion-icon name="information-circle-outline"></ion-icon> 
                            </span>
                    </ion-card-title >
                      <ion-card-content class="card-content">
                          <ion-row>
                              <ion-col size="2" text-left>
                                  <img src="assets/icx_black.png" alt="ICX"/>       
                              </ion-col>
                              <ion-col class="total-amount" text-right>
                                  {{stake.toFixed(2)}} <small>ICX</small>
                              </ion-col>
                            </ion-row>       
                      </ion-card-content>
                    </ion-card>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-start">
          <ion-col>
                  <ion-card>
                      <ion-card-title  class="card-title-primary">
                              Total / (unclaimed)   
                          <span class="tooltip" tooltip="This figure includes the total amount of ICX you own (both liquid and staked), 
                                                          as well as the total amount of ICX that is currently unclaimed in the form of your I_Score."                               
                              placement="bottom" hide-delay="500" hide-delay-mobile="500"> 
                              <ion-icon name="information-circle-outline"></ion-icon> 
                          </span>
                      </ion-card-title>
                        <ion-card-content class="card-content">
                            <ion-row>
                                <ion-col size="2" text-left>
                                    <img src="assets/icx_black.png" alt="ICX"/>       
                                </ion-col>
                                <ion-col class="total-amount" text-right>
                                    {{(stake+balance).toFixed(2)}} (+{{claim.toFixed(2)}}) <small>ICX</small>
                                </ion-col>
                              </ion-row>       
                        </ion-card-content>
                      </ion-card>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-start">
              <ion-col>
                  <ion-card>
                      <ion-card-title class="card-title-primary">
                             Staking reward overview
                             <span class="tooltip" tooltip="View the projected amount of ICX you'd generate via compound interest at the current reward rate. 
                                                            Currently, this is calculated on a weekly basis, but presented as a monthly figure."                               
                              placement="bottom" hide-delay="500" hide-delay-mobile="500"> 
                              <ion-icon name="information-circle-outline"></ion-icon> 
                          </span> 
                      </ion-card-title>
                        <ion-card-content class="card-content-chart">
                          <canvas #barCanvas></canvas> 
                        </ion-card-content>
                        <ion-row class="card-footer">
                          <ion-col>
                                <ion-row>
                                    <ion-col text-left><strong>Monthly: </strong> <br />~{{monthlyICX | number : '1.2-2'}} </ion-col>
                                    <ion-col text-right><strong>Yearly: </strong> <br />~{{yearlyICX  | number : '1.2-2'}}</ion-col>
                                <hr />
                                </ion-row>
                                  <ion-row>
                                      <ion-col text-left><strong>Unstaking Period:</strong> <br /> ~{{networkUnstakePeriod}} </ion-col>
                                      <ion-col text-right><strong>Reward Rate: </strong> <br />{{rewardRate |  number : '1.2-2'}}% </ion-col>
                                  </ion-row>
                            </ion-col>
                        </ion-row>
                      </ion-card>
              </ion-col>
            </ion-row>
    </ion-grid>
  </ion-content>   
