   <ion-content class="bg-class" no-bounce has-bouncing="false" forceOverscroll="false">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMax="20">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        refreshingSpinner="circles">
      </ion-refresher-content>
    </ion-refresher>
    <ion-grid>
      <ion-row>
        <ion-col size="{{rowSize}}">
            <ion-card>
                <ion-card-title class="card-title-inverted">
                   Available
                </ion-card-title>
                  <ion-card-content class="card-content">
                      <ion-row>
                          <ion-col size="{{colSize}}" text-left>
                            <fa-icon style="padding:1px; color: #1adfcb;" size="2x" [icon]="['fas', 'wallet']"></fa-icon>
                          </ion-col>
                          <ion-col [ngClass]="{'amount-value': hideUnstakeTimer}" text-right>
                              {{balance | number : '1.2-2'}} <small>ICX</small>
                              <div class="amount-value-usd" *ngIf="showUSDValue">{{balance / USDValue | number : '1.2-2'}} <small>USD</small></div>
                          </ion-col>
                      </ion-row>
                  </ion-card-content> 
                </ion-card>
        </ion-col>
          <ion-col [hidden]="hideUnstakeTimer" size="6">
              <ion-card>
                  <ion-card-title  class="card-title-inverted">
                          Unstake Timer
                  </ion-card-title >
                    <ion-card-content class="card-content">
                        <ion-row>
                            <ion-col size="3" text-left>
                              <fa-icon style="padding:1px; color: #1adfcb;" size="2x" [icon]="['fas', 'calendar-alt']"></fa-icon>
                            </ion-col>
                            <ion-col text-right>
                                {{unstakePeriod}}
                            </ion-col>
                          </ion-row>       
                    </ion-card-content>
                  </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="7">
                <ion-card>
                    <ion-card-title  class="card-title-inverted">
                            Staked
                    </ion-card-title >
                      <ion-card-content class="card-content">
                          <ion-row>
                              <ion-col size="3" text-left>
                                <fa-icon style="padding:1px; color: #1adfcb;" size="2x" [icon]="['fas', 'lock']"></fa-icon> 
                              </ion-col>
                              <ion-col class="amount-value" text-right>
                                  {{stake | number : '1.2-2'}} <small>ICX</small>
                                  <div class="amount-value-usd" *ngIf="showUSDValue">{{stake / USDValue | number : '1.2-2'}} <small>USD</small></div>
                              </ion-col>
                            </ion-row>       
                      </ion-card-content>
                    </ion-card>
            </ion-col>
            <ion-col size="5">
              <ion-card>
                  <ion-card-title  class="card-title-inverted">
                          Unclaimed   
                  </ion-card-title>
                    <ion-card-content class="card-content">
                        <ion-row>
                          <ion-col size="3" text-left>
                            <fa-icon style="padding:1px; color: #1adfcb;"  [icon]="['fas', 'parachute-box']"></fa-icon> 
                          </ion-col>
                            <ion-col size="9" class="amount-value ion-text-end">
                               {{claim | number : '1.2-2'}} <small>ICX</small>
                                <div class="amount-value-usd" *ngIf="showUSDValue">{{claim / USDValue | number : '1.2-2'}}  <small>USD</small></div>
                            </ion-col>
                          </ion-row>       
                    </ion-card-content>
                  </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
                  <ion-card>
                      <ion-card-title  class="card-title-inverted">
                         Total  
                      </ion-card-title>
                        <ion-card-content class="card-content">
                            <ion-row>
                                <ion-col size="2" class="ion-text-start">
                                    <img src="assets/icx_vibrant.png" alt="ICX" style="width:35px;height:35px;"/>       
                                </ion-col>
                                <ion-col class="amount-value" text-right>
                                    {{(stake+balance) | number : '1.2-2'}} <small>ICX</small>
                                    <div class="amount-value-usd" *ngIf="showUSDValue">{{(stake+balance) / USDValue | number : '1.2-2'}} <small>USD</small></div>
                                </ion-col>
                              </ion-row>       
                        </ion-card-content>
                      </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                  <ion-card>
                      <ion-card-title class="card-title-inverted">
                             Compounding reward estimate
                      </ion-card-title>
                        <ion-card-content class="card-content-inverted">
                          <canvas #barCanvas></canvas> 
                        </ion-card-content>
                      </ion-card>
              </ion-col>
            </ion-row>
            <ion-row>
               <ion-col size="6">
                <ion-card>
                  <ion-card-title class="card-title-inverted">
                    Monthly
                  </ion-card-title>
                    <ion-card-content class="rewardInfoInverted ion-text-end">
                      <ion-row>
                         <ion-col class="rewardInfoICXInverted ion-text-end">
                          ~ {{monthlyICX | number : '1.2-2'}} <small>ICX</small>
                          <div class="amount-value-usd" *ngIf="showUSDValue">{{monthlyICX / USDValue | number : '1.2-2'}} <small>USD</small></div>
                        </ion-col>
                      </ion-row>       
                    </ion-card-content>
                </ion-card>
               </ion-col>
               
               <ion-col size="6">
                <ion-card>
                  <ion-card-title class="card-title-inverted">
                     Yearly
                  </ion-card-title>
                  <ion-card-content class="rewardInfoInverted ion-text-end">
                    <ion-row>
                      <ion-col class="rewardInfoICXInverted ion-text-end">
                        ~ {{yearlyICX | number : '1.2-2'}} <small>ICX</small>
                        <div class="amount-value-usd" *ngIf="showUSDValue">{{yearlyICX / USDValue | number : '1.2-2'}} <small>USD</small></div>
                      </ion-col>
                    </ion-row>       
                  </ion-card-content>
                </ion-card>
               </ion-col>
            
            </ion-row>
            <ion-row>
              <ion-col size="6">
               <ion-card>
                 <ion-card-title class="card-title-primary">
                   Reward Rate
                 </ion-card-title>
                   <ion-card-content class="rewardInfo ion-text-end">
                    <ion-row>
                      <ion-col size="3" class="ion-text-start">
                        <fa-icon style="padding:2px; color: #1adfcb;" size="2x" [icon]="['fas', 'percent']"></fa-icon>     
                      </ion-col>
                      <ion-col class="rewardInfo ion-text-end">
                          {{rewardRate | number : '1.2-2'}}
                      </ion-col>
                    </ion-row>  
                   </ion-card-content>
               </ion-card>
              </ion-col>
              
              <ion-col size="6">
               <ion-card>
                 <ion-card-title class="card-title-primary">
                  Unstaking period
                 </ion-card-title>
                   <ion-card-content class="rewardInfo ion-text-end">
                    <ion-row>
                      <ion-col size="3" class="ion-text-start">
                        <fa-icon style="padding:2px; color: #1adfcb;" size="2x" [icon]="['fas', 'calendar-alt']"></fa-icon>     
                      </ion-col>
                      <ion-col class="rewardInfo  ion-text-end">
                          {{networkUnstakePeriod }}
                      </ion-col>
                    </ion-row>  
                   </ion-card-content>
               </ion-card>
              </ion-col>
           </ion-row>
    </ion-grid>
   
  </ion-content>   
