   <ion-content class="bg-class">
    <p>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="50">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        refreshingSpinner="circles">
      </ion-refresher-content>
    </ion-refresher>
    </p>
    <ion-grid>
      <ion-row>
        <ion-col size="{{rowSize}}">
            <ion-card>
              <ion-card-title class="card-title-primary">  
                <ion-row>
                  <ion-col style="font-size: 12px !important;" size="12" class="ion-text-end">
                    Available
                  </ion-col>  
              </ion-row>  
              </ion-card-title>

              <ion-card-content class="card-content-inverted" style="padding:0px !important"> 
                <ion-row>
                  <ion-col size="{{colSize}}" class="ion-text-center">
                      <fa-icon style="color: #1adfcb;"size="2x" [icon]="['fas', 'wallet']"></fa-icon>
                  </ion-col>
                       <ion-col [ngClass]="{'amount-value-usd': hideUnstakeTimer}" text-right>
                          {{balance | number : '1.2-2'}} <small>ICX</small>
                          <div class="amount-value-usd" *ngIf="deviceSettings.showUSDValue">{{balance / USDValue | number : '1.2-2'}} <small>USD</small></div>
                      </ion-col>
              </ion-row> 
            </ion-card-content> 
            </ion-card>
         </ion-col>
    
         <ion-col [hidden]="hideUnstakeTimer" size="6">
              <ion-card>
                <ion-card-title class="card-title-primary">  
                  <ion-row>
                    <ion-col style="font-size: 12px !important;" size="12" class="ion-text-end">
                      Unstake Timer
                    </ion-col>  
                </ion-row>  
                </ion-card-title>
                <ion-card-content class="card-content-inverted" style="padding:0px !important">  
                    <ion-row>
                        <ion-col size="3" class="ion-text-center">
                           <fa-icon style="color: #1adfcb;" size="2x" [icon]="['fas', 'calendar-alt']"></fa-icon>
                        </ion-col>
                        <ion-col class="amount-value ion-text-end">
                            {{unstakePeriod}}
                        </ion-col>
                      </ion-row>       
                </ion-card-content>
              </ion-card>
          </ion-col>  
        </ion-row>
        <ion-row>
            <ion-col size="7">
                <ion-card>
                  <ion-card-title class="card-title-primary">  
                    <ion-row>
                      <ion-col style="font-size: 12px !important;" size="12" class="ion-text-end">
                        Staked
                      </ion-col>  
                  </ion-row>  
                  </ion-card-title>
                  <ion-card-content class="card-content-inverted" style="padding:0px !important">  
                  <ion-row>
                      <ion-col size="3" style="margin-left: 5px !important; margin-right: 6px !important;" class="ion-text-center">
                        <fa-icon style="color: #1adfcb;" size="2x" [icon]="['fas', 'steak']"></fa-icon> 
                      </ion-col>
                      <ion-col class="amount-value ion-text-end">
                          {{stake | number : '1.2-2'}} <small>ICX</small>
                          <div class="amount-value-usd" *ngIf="deviceSettings.showUSDValue">{{stake / USDValue | number : '1.2-2'}} <small>USD</small></div>
                      </ion-col>
                    </ion-row>       
              </ion-card-content>
            </ion-card>
            </ion-col>
            <ion-col size="5">
              <ion-card>
                <ion-card-title class="card-title-primary">  
                  <ion-row>
                    <ion-col style="font-size: 12px !important;" size="12" class="ion-text-end">
                      Unclaimed
                    </ion-col>  
                </ion-row>  
                </ion-card-title>
                <ion-card-content class="card-content-inverted" style="padding:0px !important">  
                    <ion-row>
                      <ion-col size="4" class="ion-text-center">
                        <fa-icon style="color: #1adfcb;" size="2x" [icon]="['fas', 'gift']"></fa-icon> 
                      </ion-col>
                        <ion-col size="8" class="amount-value ion-text-end">
                            {{claim | number : '1.2-2'}} <small>ICX</small>
                            <div class="amount-value-usd" *ngIf="deviceSettings.showUSDValue">{{claim / USDValue | number : '1.2-2'}}  <small>USD</small></div>
                        </ion-col>
                      </ion-row>       
                </ion-card-content>
                  </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
              <ion-card>
                <ion-card-title class="card-title-primary">  
                  <ion-row>
                    <ion-col style="font-size: 12px !important;" size="12" class="ion-text-end">
                      Total
                    </ion-col>  
                </ion-row>  
                </ion-card-title>
                <ion-card-content class="card-content-inverted" style="padding:0px !important">  
                  <ion-row>
                      <ion-col style="padding-left:12px !important; padding-right:5px !important"size="2" class="align-text-middle ion-text-center">
                          <img src="assets/icx_vibrant.png" alt="ICX" style="width:35px;height:35px;"/>       
                      </ion-col>
                      <ion-col size="10" class="amount-value ion-text-end">
                          {{(stake+balance+claim) | number : '1.2-2'}} <small>ICX</small>
                          <div class="amount-value-usd" *ngIf="deviceSettings.showUSDValue">{{(stake+balance+claim) / USDValue | number : '1.2-2'}} <small>USD</small></div>
                      </ion-col>
                    </ion-row>       
              </ion-card-content>
            </ion-card>
            </ion-col>
        </ion-row>
            <ion-row>
              <ion-col>
                  <ion-card>
                        <ion-card-content class="card-content-inverted">
                          <canvas #barCanvas></canvas> 
                        </ion-card-content>
                      </ion-card>
              </ion-col>
            </ion-row>
            <ion-row>
               <ion-col size="6">
                <ion-card>
                  <ion-card-title class="card-title-primary">  
                    <ion-row>
                      <ion-col style="font-size: 12px !important;" size="12" class="ion-text-end">
                        Monthly
                      </ion-col>  
                  </ion-row>  
                  </ion-card-title>
    
                  <ion-card-content class="card-content-inverted" style="padding:0px !important">  
                    <ion-row>
                      <ion-col style="padding-left:10px !important;" size="4" class="align-text-middle ion-text-center">
                        <img src="assets/icx_vibrant.png" alt="ICX" style="width:40px;height:35px;"/>       
                    </ion-col>
                      <ion-col class="amount-value ion-text-end">
                        ~ {{monthlyICX | number : '1.2-2'}} <small>ICX</small>
                        <div class="amount-value-usd" *ngIf="deviceSettings.showUSDValue">{{monthlyICX / USDValue | number : '1.2-2'}} <small>USD</small></div>
                      </ion-col>
                    </ion-row>       
                  </ion-card-content>
                </ion-card>
               </ion-col>
               
               <ion-col size="6">
                <ion-card>
                  <ion-card-title class="card-title-primary">  
                    <ion-row>
                      <ion-col style="font-size: 12px !important;" size="12" class="ion-text-end">
                        Yearly
                      </ion-col>  
                  </ion-row>  
                  </ion-card-title>
    
                  <ion-card-content class="card-content-inverted" style="padding:0px !important">  
                    <ion-row>
                      <ion-col style="padding-left:10px !important;" size="4" class="align-text-middle ion-text-center">
                        <img src="assets/icx_vibrant.png" alt="ICX" style="width:40px;height:35px;"/>       
                    </ion-col>
                      <ion-col class="amount-value ion-text-end">
                        ~ {{yearlyICX | number : '1.2-2'}} <small>ICX</small>
                        <div class="amount-value-usd" *ngIf="deviceSettings.showUSDValue">{{yearlyICX / USDValue | number : '1.2-2'}} <small>USD</small></div>
                      </ion-col>
                    </ion-row>       
                  </ion-card-content>
                </ion-card>
               </ion-col> 
            
            </ion-row>
            <ion-row>
              <ion-col size="6">
               <ion-card>
                <ion-card-title class="card-title-primary">  
                  <ion-row>
                    <ion-col style="font-size: 12px !important;" size="12" class="ion-text-end">
                      Reward Rate
                    </ion-col>  
                </ion-row>  
                </ion-card-title>

                <ion-card-content class="card-content-inverted" style="padding:0px !important">  
                    <ion-row>
                      <ion-col size="3" class="ion-text-center">
                        <fa-icon style="padding:2px; color: #1adfcb;" size="2x" [icon]="['fas', 'chart-pie-alt']"></fa-icon>     
                      </ion-col>
                      <ion-col class="amount-value ion-text-end">
                          {{rewardRate | number : '1.2-2'}}
                      </ion-col>
                    </ion-row>  
                   </ion-card-content>
               </ion-card>
              </ion-col>
              
              <ion-col size="6">
               <ion-card>
                <ion-card-title class="card-title-primary">  
                  <ion-row>
                    <ion-col style="font-size: 12px !important;" size="12" class="ion-text-end">
                      Unstaking period
                    </ion-col>  
                </ion-row>  
                </ion-card-title>
                <ion-card-content class="card-content-inverted" style="padding:0px !important">  
                    <ion-row>
                      <ion-col size="3" class="ion-text-center">
                        <fa-icon style="padding:2px; color: #1adfcb;" size="2x" [icon]="['fas', 'calendar-alt']"></fa-icon>     
                      </ion-col>
                      <ion-col class="amount-value ion-text-end">
                          {{networkUnstakePeriod }}
                      </ion-col>
                    </ion-row>  
                   </ion-card-content>
               </ion-card>
              </ion-col>
           </ion-row>
    </ion-grid>
   
  </ion-content>   
