
canvas {
  width: 100% !important;
  height: 100% !important;
}

.toolbar-title {
  text-align: center;  // now center the title
}

.secondary {
  background-color: #545454;
  color: #fff;
}


.amount-value-usd {
  font-size: 12px;
  color: #b9efa4; 
  font-weight: bold;
}

.card-image {
  background-color:  #32b8bb;
}

.primary {
  background-color: #32b8bb !important;
  color: #fff;
  font-size: 12px;
  height: 80px;
  width: 80px;
  box-shadow: 1px 1px 1px 1px #1f2120;
}

.dark {
  background-color: #1f2120;
  color: #fff;
}

.iconSize {
  font-size: 35px;

}

.rewardInfoICX {
  font-size: 14px !important;
  color: #fff;
  vertical-align: middle;
} 

.rewardInfo{
  font-size: 14px !important;
  color: #fff;
} 

.rewardInfoICXInverted {
  background-color: #1d2025 !important;
  color: #fff;
  font-size: 14px;
  height: 100%;
} 

.rewardInfoInverted { 
  background-color: #1d2025 !important;
  color: #fff;
  font-size: 14px;
  height: 100%;
} 


ion-refresher-content {
  padding-bottom: 100px !important;
  background-color: #1d2025 !important;
  color: #fff;
  --color: #fff;
}

.align-text-middle {
  display: flex;
  align-items: center;

}

