
canvas {
  width: 100% !important;
  height: 100% !important;
}

ion-refresher-content {
  background-color: #000;
  color: #fff !important;
}


.primary {
  background-color: #32b8bb !important;
  color: #fff;
  font-size: 12px;
  height: 80px;
  width: 80px;
  box-shadow: 1px 1px 1px 1px #1f2120;
}

.toolbar-title {
  text-align: center;  // now center the title
}

.secondary {
  background-color: #545454;
  color: #fff;
}

.tooltip {
  font-size: 16px;
}

.amount-value-usd {
  font-size: 14px;
}

.card-image {
  background-color:  #32b8bb;
}

.dark {
  background-color: #1f2120;
  color: #fff;
}

.iconSize {
  font-size: 35px;

}

.rewardInfoICX {
  font-size: 16px !important;
  color: #fff;
  vertical-align: middle;
} 

.rewardInfo{
  font-size: 16px !important;
  color: #fff;
} 

.rewardInfoICXInverted {
  background-color: #1d2025 !important;
  color: #fff;
  font-size: 16px;
  height: 100%;
} 

.rewardInfoInverted { 
  background-color: #1d2025 !important;
  color: #fff;
  font-size: 16px;
  height: 100%;
} 

