.bg-class{
  --background: #F5F5F5 ;
}

.formInput {
  font-size:8px !important;
}

.formLabelCheckbox {
  font-size: 8px !important;
  color: #000;
}

.formCheckBox {
  font-size: 4px !important;
  margin-right: 4px !important;
}

.formLabel {
font-size: 8px !important;
color: #32b8bb;
}

.formSelect {
  font-size: 8px !important;
}