
button {
padding: 0px !important;
margin: 0px !important;
}

ion-label {
  font-size: 12px !important;
}

.item-inner, .item-native {
padding: 0px !important;
width: 100% !important;

}


.align-text-middle {
  display: flex;
  align-items: center;
}

.button-row {
  --background: #1d2025 !important;
}


ion-input {
  font-size: 12px !important;
}

.toast-container{ background:#1d2025; } .toast-md .toast-message{ color: #cf6679; }