.bg-class{
  --background: #F5F5F5 ;
}

.formCheckbox {
  font-size: 8px !important;
  color: #000;
  width:100%;
}

.modalMargin {
  margin-right:4% !important; 
  margin-left:4% !important;
  padding:0px !important;
}

.formLabelCheckbox {
  font-size: 10px !important;
  color: #000;
}

button {
  margin-left: 4% !important; 
  margin-right: 4% !important;
}



