<ion-header class="ion-no-border header"></ion-header>
<super-tabs [config]="{dragThreshold: 100, allowElementScroll: true}">
  <super-tabs-toolbar slot="top">
    <super-tab-button class="super-tab-button" *ngFor="let k of Addresses | keyvalue">
      <ion-label class="super-tab-label">{{k.value.Nickname ? k.value.Nickname : 'Main'}}</ion-label>    
    </super-tab-button>
  </super-tabs-toolbar>
  <super-tabs-container>
    <super-tab *ngFor="let k of Addresses | keyvalue">
        <ion-content no-bounce has-bouncing="false" forceOverscroll="false" class="bg-class">
        <app-tokens [addresssetting]="k.value"></app-tokens>
      </ion-content>
    </super-tab>
  </super-tabs-container>
</super-tabs>