
  .dark {
    background-color: #000;
    color: #fff;
  }
  
  
.dark-header {
    --background: #000;
    color: #fff;
  }

  .primary {
    background-color: #32b8bb !important;
    color: #fff;
  }

