<ion-header >
      <ion-title class="dark-header">
       <img src="../../assets/icon_white.png" width="120px" height="40px"/>
      </ion-title>
</ion-header>

<ion-tabs >
  <ion-tab-bar slot="bottom" class="dark">
    <ion-tab-button tab="wallet" class="dark">
      <ion-icon name="stats"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="preps" class="dark">
      <ion-icon name="business"></ion-icon>
      <ion-label>Preps</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" class="dark">
        <ion-icon name="cog"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
