page-home {

	.toolbar-background {
	  background-color: black;
	}
	
	.toolbar-title {
		color: white;
	}
	
	.label {
      color: #222;
   }
   	
	.toolbar {
	  color: white;
	}

  span {
	font-family: "Montserrat", sans-serif !important;
  }

}
