<super-tabs [config]="{dragThreshold: 200}">
  <super-tabs-toolbar slot="top" class="bg-class">
    <super-tab-button class="super-tab-button" *ngFor="let k of Addresses | keyvalue">
      <ion-label class="super-tab-label">{{k.value.Nickname ? k.value.Nickname : 'Main'}}</ion-label>    
    </super-tab-button>
  </super-tabs-toolbar>
  <super-tabs-container>
    <super-tab *ngFor="let k of Addresses | keyvalue">
        <ion-content class="bg-class">
          <app-wallet [addresssetting]="k.value"></app-wallet>
        </ion-content>
    </super-tab>
  </super-tabs-container>
</super-tabs>
