<div class="header"></div>

<ion-content class="bg-class">
  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button size="large" class="fab" color="primary" (click)="save()">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button >
  </ion-fab>  


  <ion-grid>
		<ion-row>
      <ion-col class="ion-text-start ion-no-padding ion-no-margin align-text-middle-top">
        <ion-button shape="round" fill="clear" size="small" (click)="closeModal()">
          <fa-icon class="fa-lg" [icon]="['fas', 'arrow-left']" slot="start"></fa-icon>
        </ion-button>
        <small>Address Settings    {{'wallet.unstake' | translate}} </small>
      </ion-col>
    
    <ion-item-divider>
        <ion-grid>
          <ion-row>
            <ion-col class="align-text-middle">
              <ion-label>Push Notifications (this address)</ion-label>
            </ion-col>   
          </ion-row>
        </ion-grid>
    </ion-item-divider>

    <ion-item>
      <ion-label>Notify me when I receive a deposit</ion-label>
      <ion-toggle color="secondary" [(ngModel)]="enablePushDeposits" slot="end"></ion-toggle>
    </ion-item>


			<ion-item-divider>
          <ion-grid>
            <ion-row>
              <ion-col class="align-text-middle">
                <ion-label>Address Details</ion-label>
              </ion-col>   
            </ion-row>
          </ion-grid>
      </ion-item-divider>
 
        <ion-item class="item-highlight">
          <ion-label>Wallet Name:</ion-label>
          <ion-input type="text" placeholder="Wallet1" [(ngModel)]="nickName" max="20"> </ion-input>
        </ion-item>

        <ion-item class="item-highlight">
          <ion-label>Address:</ion-label>
          <ion-input type="text" placeholder="hx...." [(ngModel)]="address"></ion-input>
          <ion-button  (click)="scanQR()" class="ion-no-margin ion-no-padding" fill="clear" size="small">
              <fa-icon style="color: #1adfcb;" class="fa-lg" [icon]="['fas', 'qrcode']" slot="end"></fa-icon>
          </ion-button>
        </ion-item>
    </ion-row>
    </ion-grid> 
</ion-content>