<div class="header"></div>

<ion-content class="bg-class">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMax="50">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
     </ion-refresher>
<ion-grid>
        <ion-row class="ion-justify-content-start">
                <ion-col>
                    <ion-card>
                        <ion-card-title class="card-title-primary">
                               Your Staking Distribution
                        </ion-card-title>
                          <ion-card-content class="card-content-chart"> 
                            <canvas #dnChart></canvas> 
                            * Click pie segment for more data
                          </ion-card-content>
                        </ion-card>
                </ion-col>
              </ion-row>
              <ion-row class="ion-justify-content-start">
                  <ion-col>
                        <ion-card>
                                <ion-card-title class="card-title-primary">
                                       Your PRep Status
                                </ion-card-title>
                                  <ion-card-content class="card-content-table">
                                        <ngx-datatable class="bootstrap" [headerHeight]="50" [footerHeight]="100" [rows]="rows" [columnMode]="flex">
                                                <ngx-datatable-column name="Rank" [width]="30">
                                                    <ng-template let-value="value">
                                                         {{ value }}
                                                    </ng-template>
                                                 </ngx-datatable-column>
                                                 <ngx-datatable-column name="Name" [width]="80">
                                                        <ng-template let-row="row" let-value="value">
                                                          {{ value }}
                                                        </ng-template>
                                                  </ngx-datatable-column>
                                                  <ngx-datatable-column name="Production" [width]="80">
                                                        <ng-template let-value="value"l>
                                                          {{ value }}
                                                        </ng-template>
                                                  </ngx-datatable-column>
                                                  <ngx-datatable-column name="Votes" class="total" [width]="200">
                                                        <ng-template let-value="value">
                                                          {{ value }} 
                                                        </ng-template>
                                                  </ngx-datatable-column>

                                                  <ngx-datatable-footer>
                                                        <ng-template
                                                        ngx-datatable-footer-template
                                                        let-rowCount="rowCount"
                                                        let-pageSize="pageSize"
                                                        let-selectedCount="selectedCount"
                                                        let-curPage="curPage"
                                                        let-offset="offset"
                                                      >
                                                        <div style="padding: 2px 2px; width:100%">
                                                          <div><strong>Network Summary</strong></div>
                                                          <hr />
                                                          <div><strong>Total Supply: </strong> {{totalSupply}} | <strong>Total ICX Staked: </strong> {{totalICXDelegated}}</div>
                                                          <div><strong>Network Staked %: </strong> {{totalNetworkDelegated}} | <strong>Total PReps: </strong>{{totalNumPreps}} </div>           
                                                        </div>
                                                      </ng-template>
                                                  </ngx-datatable-footer>
                                        </ngx-datatable>
                                  </ion-card-content>
                                </ion-card>
                  </ion-col>
              </ion-row>    
    </ion-grid> 
</ion-content>
