<div style="height:10%">

</div>
  

<ion-content class="bg-class">
<ion-grid>
        <ion-row class="ion-justify-content-start">
                <ion-col>
                    <ion-card>
                        <ion-card-title class="card-title-primary">
                                Voting distrubution   
                        </ion-card-title>
                          <ion-card-content class="card-content-chart">
                            <canvas #dnChart></canvas> 
                          </ion-card-content>
                        </ion-card>
                </ion-col>
              </ion-row>
    </ion-grid> 
</ion-content>
