<div class="header"></div>

<ion-content class="bg-class">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMax="50">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
     </ion-refresher>
<ion-grid>
        <ion-row class="ion-justify-content-start">
                <ion-col>
                    <ion-card>
                        <ion-card-title class="card-title-primary">
                               Your Staking Distribution
                               <span class="tooltip" tooltip="Visual representation of your allocated delegation toward P-Rep candidates." 
                                                    placement="bottom" hide-delay="500" hide-delay-mobile="500"> 
                                   <ion-icon name="information-circle-outline"></ion-icon> 
                                </span>
                        </ion-card-title>
                          <ion-card-content class="card-content-chart">
                            <canvas width="330" height="250" #dnChart></canvas> 
                          </ion-card-content>
                        </ion-card>
                </ion-col>
              </ion-row>
              <ion-row class="ion-justify-content-start">
                  <ion-col>
                        <ion-card>
                                <ion-card-title class="card-title-primary">
                                      Governance Overview
                                      <span class="tooltip" tooltip="Shows the current P-Rep candidates you have voted on, as well as a general overview of the ICON Network governance status" 
                                                            placement="bottom" hide-delay="500" hide-delay-mobile="500"> 
                                          <ion-icon name="information-circle-outline"></ion-icon> 
                                      </span>
                                </ion-card-title>
                                  <ion-card-content class="card-content-table">
                                        <ngx-datatable class="bootstrap" [headerHeight]="50" [footerHeight]="110" [rows]="rows" [columnMode]="flex">
                                                <ngx-datatable-column name="Rank" [width]="30">
                                                    <ng-template let-value="value">
                                                         {{ value }}
                                                    </ng-template>
                                                 </ngx-datatable-column>
                                                 <ngx-datatable-column name="Name" [width]="150">
                                                        <ng-template let-row="row" let-value="value">
                                                          {{ value }}
                                                        </ng-template>
                                                  </ngx-datatable-column>
                                                  <ngx-datatable-column name="Production" [width]="60">
                                                        <ng-template let-value="value"l>
                                                          {{ value }}
                                                        </ng-template>
                                                  </ngx-datatable-column>
                                                  <ngx-datatable-column name="Votes" class="total" [width]="200">
                                                        <ng-template let-value="value">
                                                          {{ value }} 
                                                        </ng-template>
                                                  </ngx-datatable-column>

                                                  <ngx-datatable-footer>
                                                        <ng-template
                                                        ngx-datatable-footer-template
                                                        let-rowCount="rowCount"
                                                        let-pageSize="pageSize"
                                                        let-selectedCount="selectedCount"
                                                        let-curPage="curPage"
                                                        let-offset="offset"
                                                      >
                                                        <div style="padding: 2px 2px; width:100%">                                                
                                                          <ion-col>
                                                              <ion-row>
                                                                  <ion-col text-left><strong>Total ICX Supply: </strong>  <br />
                                                                    <ion-badge class="badge" color="primary"> {{totalSupply}}</ion-badge>
                                                                  </ion-col>
                                                                  <ion-col text-right> <strong>Total ICX Staked: </strong> <br />
                                                                    <ion-badge class="badge" color="primary">{{totalICXDelegated}} </ion-badge> 
                                                                  </ion-col>
                                                                  <hr />
                                                              </ion-row>
                                                                <ion-row>
                                                                    <ion-col text-left><strong>Network Staked: </strong> <br />  
                                                                      <ion-badge class="badge" color="danger">  {{totalNetworkDelegated}}% </ion-badge></ion-col>
                                                                    <ion-col text-right><strong>Total PReps: </strong> <br />
                                                                      <ion-badge class="badge" color="warning">   {{totalNumPreps}}</ion-badge> </ion-col>
                                                                </ion-row>
                                                          </ion-col>
                                                        </div>
                                                      </ng-template>
                                                  </ngx-datatable-footer>
                                        </ngx-datatable>
                                  </ion-card-content>
                                  <ion-row class="card-footer">
                                     
                                    </ion-row>
                                </ion-card>
                  </ion-col>
              </ion-row>    
    </ion-grid> 
</ion-content>
