<div class="header"></div>

<ion-content class="bg-class">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMax="50">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
     </ion-refresher>
<ion-grid>
  <ion-row>
    <ion-item-divider>
      <ion-label> Governance Overview</ion-label>
    </ion-item-divider>
    <ion-col size="6">
          <ion-card>
              <ion-card-title  class="card-title-inverted ion-text-end">
                 Latest Block By
              </ion-card-title>
                <ion-card-content class="card-content-inverted">
                      <ion-row>
                        <ion-col size="2" class="ion-text-start">
                          <fa-icon style="padding:2px; color: #1adfcb;" size="2x" [icon]="['fas', 'cubes']"></fa-icon>     
                        </ion-col>
                          <ion-col class="amount-value-inverted" class="ion-text-end">
                            {{lastBlockCreatedBy}}
                        </ion-col>
                      </ion-row>       
                </ion-card-content>
              </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-card-title  class="card-title-inverted ion-text-end">
                # Preps
            </ion-card-title>
              <ion-card-content class="card-content-inverted">
                  <ion-row>
                    <ion-col size="3" class="ion-text-start">
                      <fa-icon style="padding:2px; color: #1adfcb;" size="2x"  [icon]="['fas', 'users']"></fa-icon>     
                    </ion-col>
                        <ion-col class="amount-value-inverted ion-text-end" >
                          {{totalNumPreps}}
                      </ion-col>
                    </ion-row>       
              </ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card>
                <ion-card-content class="card-content-inverted">
                    <ion-row>
                        <ion-col class="ion-text-center">
                            <circle-progress
                            [percent]="totalNetworkDelegated" 
                            [radius]="50"
                            [outerStrokeWidth]="3"
                            [showInnerStroke]="true"
                            [innerStrokeColor]="'#C7E596'"
                            [animation]="true"
                            [animationDuration]="300"
                            [showUnits]="true"
                            [toFixed]="2"
                            [unitsColor]="'#ffffff'"
                            [titleColor]="'#ffffff'"
                            [subtitle]="'ICX Voted'"
                            [titleFontSize]="14"
                            [subtitleFontSize]="12">>
                          </circle-progress>
                        </ion-col>
                      </ion-row>       
                </ion-card-content>
              </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
              <ion-card-content class="card-content-inverted">
                  <ion-row>
                    <ion-col class="ion-text-center">
                        <circle-progress
                        [percent]="totalStaked" 
                        [radius]="50"
                        [outerStrokeWidth]="3"
                        [showInnerStroke]="true"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="300"
                        [showUnits]="true"
                        [toFixed]="2"
                        [unitsColor]="'#ffffff'"
                        [titleColor]="'#ffffff'"
                        [subtitle]="'ICX Staked'"
                        [titleFontSize]="16"
                        [subtitleFontSize]="14">
                      </circle-progress>
                      </ion-col>
                    </ion-row>       
              </ion-card-content>
            </ion-card> 
        </ion-col>
      </ion-row>
  <ion-item-divider>
      <ion-label>My Voted Preps</ion-label>
    </ion-item-divider>
    <ion-row *ngFor="let prep of rows" class="ion-no-padding">
      <ion-col>
        <ion-card>       
          <ion-card-title class="card-title-primary">
           <!--<ion-grid> --> 
            <ion-row>
              <ion-col size="3" class="rank ion-text-start">
                Rank {{prep.rank}}
              </ion-col>
              <ion-col size="6" class="myVotes ion-text-end">
                  <div class="first">Votes:  {{prep.totalVotes}} ({{prep.width | number : '1.2-2' }}%)
                    <div [ngStyle]="{'width.%': prep.width }" class="second"> </div>
                  </div>
              </ion-col>
              <ion-col size="3" class="name ion-text-end">
               {{prep.name}}
              </ion-col>
            </ion-row>
           <!-- </ion-grid> -->
          </ion-card-title> 
            <ion-card-content class="card-content-primary">
             <!--<ion-grid> --> 
                <ion-row>
                  <ion-col size="3" class="align-text-middle">
                    <div class="circle">
                      <img [src]="prep.imageUrl" alt="img">
                    </div>
                  </ion-col>
                  <ion-col size="3" class="location align-text-middle">
                    Location <br/>
                    Japan
                 </ion-col>
                  <ion-col size="3" class="production align-text-middle">
                     Productivity <br/>
                     {{prep.production}}%
                  </ion-col>
                  <ion-col size="3"  class="votes ion-text-end">
                    <circle-progress
                    [percent]="prep.votingPerc" 
                    [radius]="40"
                    [outerStrokeWidth]="1"
                    [innerStrokeWidth]="1"
                    [innerStrokeColor]="'#1adfcb'"
                    [showInnerStroke]="true"
                    [animation]="true"
                    [animationDuration]="300"
                    [showUnits]="true"
                    [toFixed]="2"
                    [unitsColor]="'#ffffff'"
                    [titleColor]="'#ffffff'"
                    [subtitleColor]="'#ffffff'"
                    [subtitle]="prep.totalVotes"
                    [titleFontSize]="16"
                    [subtitleFontSize]="10">>
                  </circle-progress>
                  </ion-col>                
                  </ion-row>  
              <!--  </ion-grid>      -->
            </ion-card-content>
        </ion-card>
        </ion-col>
       </ion-row>
  </ion-grid> 
</ion-content>
