.tab-bar{
    --background: #1d2025 !important;
    background-color: #1d2025 !important;
    color: #fff;
    padding-top: 5px !important;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1) !important;
  }