<ion-tabs>
  <ion-tab-bar slot="bottom" class="tab-bar">
    <ion-tab-button tab="wallet">
      <fa-icon style="padding:2px" size="2x" [icon]="['fal', 'wallet']"></fa-icon>
      Holdings
    </ion-tab-button>

    <ion-tab-button tab="preps">
      <fa-icon style="padding:2px" size="2x" [icon]="['fal', 'poll-people']"></fa-icon>
      Governance
    </ion-tab-button>

    <ion-tab-button tab="tokens">
      <fa-icon style="padding:2px" size="2x" [icon]="['fal', 'coins']"></fa-icon>
        Tokens
    </ion-tab-button>

   <!-- <ion-tab-button tab="metrics">
      <fa-icon style="padding:2px" size="2x" [icon]="['fas', 'chart-area']"></fa-icon>
        Metrics
    </ion-tab-button> -->

    <ion-tab-button tab="settings">
      <fa-icon style="padding:2px" size="2x" [icon]="['fal', 'cogs']"></fa-icon>
      Settings
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
