<ion-header class="dark-header">
    <ion-toolbar mode="md" class="dark-header">
      <ion-title slot="start" class="ion-justify-content-start">
       <img src="assets/mx_icon.png" width="50em" height="50em"/>
        </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom" class="dark-header">
    <ion-tab-button tab="wallet">
      <fa-icon style="padding:2px" size="2x" [icon]="['fas', 'piggy-bank']"></fa-icon>
      Holdings
    </ion-tab-button>

    <ion-tab-button tab="preps">
      <fa-icon style="padding:2px" size="2x" [icon]="['fas', 'building']"></fa-icon>
      Governance
    </ion-tab-button>

    <ion-tab-button tab="tokens">
      <fa-icon style="padding:2px" size="2x" [icon]="['fas', 'coins']"></fa-icon>
        Tokens
    </ion-tab-button>

   <!--  <ion-tab-button tab="metrics">
      <fa-icon style="padding:2px" size="2x" [icon]="['fas', 'chart-area']"></fa-icon>
        Metrics
    </ion-tab-button> -->

    <ion-tab-button tab="settings">
      <fa-icon style="padding:2px" size="2x" [icon]="['fas', 'cog']"></fa-icon>
      Settings
      </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
