<ion-header class="dark-header">
  <ion-toolbar mode="md" class="dark-header">
    <ion-title class="ion-justify-content-start; pull-left">
	   <img src="assets/mx_icon.png" width="50em" height="50em"/>
      </ion-title>
  </ion-toolbar>
</ion-header>


<ion-tabs>
  <ion-tab-bar slot="bottom" class="dark">
    <ion-tab-button tab="wallet" class="dark">
      <ion-icon name="stats"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="preps" class="dark">
      <ion-icon name="business"></ion-icon>
      <ion-label>Preps</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" class="dark">
        <ion-icon name="cog"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
