
.formInput {
    font-size:14px !important;
}

.formLabelCheckbox {
    font-size: 12px !important;
    color: #000;
}

.formCheckBox {
    margin-right: 4px !important;
}

.formLabel {
 font-size: 16px !important;
 color: #32b8bb;
}

  
.dark-header {
    --background: #000;
    color: #fff;
  }

.bg-class{
    --background: #F5F5F5 ;
  }