<div class="header"></div>

<ion-content>
	<form [formGroup]="settingsForm" (ngSubmit)="save()" >
		<ion-list lines="full" class="ion-no-margin ion-no-padding">
			<ion-item>
				<ion-label class="formLabel" position="floating">Enter or Scan ICX Public Address</ion-label>
				<div style="display:flex; width:100%">
					<ion-input type="text" class="formInput" formControlName="address" placeholder="ICX Address...."></ion-input>
					<ion-button  (click)="scanQR()" class="ion-no-margin ion-no-padding" fill="clear" size="small">
							<fa-icon class="fa-lg" [icon]="['fas', 'qrcode']" slot="end"></fa-icon>
					</ion-button>
				</div>
			</ion-item>
			<ion-item>
				<ion-checkbox  class="formCheckBox" color="secondary" slot="start" formControlName="enablePushIScoreChange"></ion-checkbox>
				<ion-label class="formLabelCheckbox">Notify me when staking rewards are available</ion-label>
			</ion-item>
		<!--<ion-item>
				<ion-checkbox class="formCheckBox" color="secondary" slot="start" formControlName="enablePushDeposits"></ion-checkbox>
				<ion-label class="formLabelCheckbox">Notify me when I receive an ICX Deposit</ion-label>
			</ion-item>
			<ion-item>
				<ion-checkbox  class="formCheckBox" color="secondary" checked slot="start" formControlName="enablePushProductivityDrop"></ion-checkbox>
				<ion-label class="formLabelCheckbox">Notify me if PRep productivity drops to (95%, 92%, 90%)</ion-label>	
			</ion-item>-->
		</ion-list>
		<div class="ion-padding">
			<ion-button expand="block" type="submit" class="ion-no-margin">
				<ion-icon slot="start" name="save"></ion-icon>
				Save
			</ion-button>
		</div>
	</form>

</ion-content>
